body{
    margin: 10px;
}

header{
    height: 50px;
    border: 1px solid black;
}

.verde{
    background-color: #00ff00;
}

.num{
    border: 1px solid black;
    background-color: #87aade;
    height: 100px;
    width: 20px;
}

.letras{
    border: 1px solid black;
    background-color: #cccccc;
    height: 100px;
    width: 50px;
}

.desktop{
    border: 1px solid black;
    background-color: #00ffff;
    height: 100px;
    width: 100px;
}

.cara{
    background-color: #ff9955;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.footer{
    border: 1px solid black;
    background-color: #00ff00;
    height: 50px;
    width: 100px;
}